<!DOCTYPE html>
<html lang="en">
<head th:replace="common/head"></head>
<body>
	<nav th:replace="common/nav"></nav>

	<div class="jumbotron">
		<form method="post" action="/signin">
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Email:</label>
				<div class="col-sm-10">
					<input type="email" class="form-control" id="email"
						placeholder="Enter email" name="email">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="pwd"
						placeholder="Enter password" name="pwd">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label><input type="checkbox" name="remember">
							Remember me</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-default" id="signin">Sign in</button>
					<button class="btn btn-default" id="signup">Sign up</button>
				</div>
			</div>
		</form>
	</div>

	<footer th:replace="common/footer"></footer>

	<script>
		$("#signin").click(function() {
			$("form").submit();
			return false;
		});
	</script>

	<script>
		$("#signup").click(function() {
			location = "/signup";
			return false;
		});
	</script>

</body>
</html>
