<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Portfolio</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/home">Home</a></li>
				<li><a href="/board">Board</a></li>
				<li><a href="/map">Map</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li th:if="${session.user_info} == null"><a href="/signin">
						<span class="glyphicon glyphicon-log-in"></span> Sign in
				</a></li>
				<li th:if="${session.user_info} != null"><a href="/signout">
						<span class="glyphicon glyphicon-log-out"></span> Sign out
						[[${session.user_info.nickname} + '´Ô ¹Ý°©½À´Ï´Ù.']]
				</a></li>
			</ul>
		</div>
	</div>
</nav>