<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head th:replace="common/head"></head>
<body>
	<nav th:replace="common/nav"></nav>

	<div class="container text-center">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="board : ${list}" th:attr="id=${board.id}">
					<td th:text="${board.id}"></td>
					<td th:text="${board.title}"></td>
					<td th:text="${board.userId}"></td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-primary btn-block" id="write">글쓰기</button>
	</div>
	</div>


	<footer th:replace="common/footer"></footer>

	<script>
		$("#write").click(function() {
			location = "/board/write";
			return false;
		});

		$("tr").click(function() {
			var id = $(this).attr("id");
			location = "/board/" + id;
			return false;
		});
	</script>



</body>
</html>
