<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head th:replace="common/head"></head>
<body>
	<nav th:replace="common/nav"></nav>

	<div class="container">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading" th:text="${board.id} + '번'"></div>
				<div class="panel-heading" th:text="${board.title}"></div>
				<div class="panel-body" th:text="${board.content}"></div>
				<div class="panel-footer" th:text="${board.userId}"></div>
			</div>
		</div>
	</div>
	<div class="container text-right">
		<button type="button" class="btn btn-default" id="list">목록</button>
		<button type="button" class="btn btn-default" id="update">수정</button>
		<button type="button" class="btn btn-default" id="delete">삭제</button>
	</div>


	<footer th:replace="common/footer"></footer>

	<script>
 $("#list").click(function() {
 location = "/board";
 return false;
 });
 $("#update").click(function() {
 location = "/board/update/" + [[${board.id}]];
 return false;
 });
 $("#delete").click(function() {
 location = "/board/delete/" + [[${board.id}]];
 return false;
 });
 </script>




</body>
</html>
